<h1>Contact</h1>
<p>
    This app is moslty inspired by the book "RUBY ON RAILS TUTORIAL FOURTH EDITION" by Michael Hartl and modifications 
    has been made by <a href="https://github.com/Basir98">Basir</a>.  
</p>